
#main {
    height: 30px;
    width: 155px;
    background-color: white;
    background-image:
        radial-gradient(blue, #fff, #2a4f32);
}

.navbar-brand {
    text-align: center;
    font-size: 20px;
    font-weight: ;
    padding-top: 10px;
}

body {
    background-color: lightgray;
    padding: 20px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .drop_shadow_effect {
    filter: drop-shadow(10px 10px 10px yellow)
}
